<div class="p-4 bg-gray-50 " id="channel" role="tabpanel"
          aria-labelledby="channel-tab">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">channel name</th>
                <th scope="col">channel_id</th>
                <th scope="col">created_at</th>
                <th scope="col">action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data; let i  = index">
                <th scope="row">{{i+1}}</th>
                <td>{{item.channel_name}}</td>
                <td>{{item.id}}</td>
                <td>{{item.created_at | date}}</td>
                <td><button
                    class="h-8 rounded-xl text-xs w-16 text-white bg-red-500 hover:bg-red-600  focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-opacity-50" (click)="deleteChannel(item.id)">
                    Delete
                  </button></td>
              </tr>
            </tbody>
          </table>
        </div>